[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-migrate = "*"
flask-cors = "*"
migrate = "*"
flask-bcrypt = "*"
flask-login = "*"
jwt = "*"
flask-testing = "*"

[dev-packages]

[requires]
python_version = "3.12"
